<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.hms.explorehms.huawei.feature_videoeditorkitai">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <dist:module
        dist:instant="false"
        dist:title="Video Editor Kit AI">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module> <!-- network and internet permissions -->

    <application>
        <activity android:name="com.hms.explorehms.huawei.HomeActivity"
        android:screenOrientation="portrait"
		android:exported="true">
        </activity>
        <activity
            android:name="com.hms.explorehms.huawei.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediapick.activity.MediaPickActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.audio.activity.AudioPickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediapick.activity.PicturePickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.cover.CoverImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.VideoClipsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaexport.VideoExportActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.blockface.cropimage.CropImageActivity"/>
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.crop.CropNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.filter.aifilter.activity.CreateFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hms.explorehms.huawei.ui.template.module.activity.TemplateDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hms.explorehms.huawei.ui.template.module.activity.TemplateEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hms.explorehms.huawei.ui.template.module.activity.VideoModuleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.ai.ViewFileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.ai.ObjectSegActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hms.explorehms.huawei.ui.mediaeditor.ai.CameraActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>