<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Copyright (c) Huawei Technologies Co., Ltd. 2020-2022. All rights reserved.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hms.explorehms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" /> <!-- Dont add Suppress tags -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.huawei.permission.SECURITY_DIAGNOSE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".ExploreHMSApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config_main"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:keepScreenOn="true"
        android:usesCleartextTraffic="true"
        tools:replace="name, icon, label, theme, resizeableActivity, allowBackup, hardwareAccelerated,android:networkSecurityConfig, android:configChanges">

        <activity android:name=".CustomsUpdateActivity"
            android:theme="@style/UpdateDialog">
        </activity>

        <activity
            android:name=".locationkit.IndoorLocationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".keyring.KeyringServiceIntroductionActivity" />
        <activity android:name=".keyring.KeyringServiceActivity" />
        <activity android:name=".baseapp.activity.BaseActivity" />
        <activity android:name=".modelingkit3d.ui.activity.CaptureMaterialActivity" />
        <activity android:name=".modelingkit3d.ui.activity.HistoryActivity" />
        <activity android:name=".modelingkit3d.ui.activity.MainActivity" />
        <activity android:name=".modelingkit3d.ui.activity.NewScanActivity" />
        <activity
            android:name=".baseapp.activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.OnboardingActivity" />
        <activity android:name=".baseapp.activity.MainActivityTab" />
        <activity android:name=".sitekit.SiteKitWidgetActivity" />
        <activity android:name=".mapkit.MainActivityMapKit" />
        <activity android:name=".mapkit.ui.MapKitDirectionApiActivity" />
        <activity android:name=".sitekit.MainActivitySiteKit" />
        <activity android:name=".scankit.ScanCustomViewActivity" />
        <activity android:name=".scankit.ScanKitActivity" />
        <activity android:name=".localauthenticationengine.LocalAuthenticationMainActivity" />
        <activity android:name=".reference.appbundle.AppBundleMainActivity" />
        <activity android:name=".reference.apprelease.AppReleaseActivity" />
        <activity android:name=".reference.earlyaccess.EarlyAccessActivity" />
        <activity android:name=".reference.preorders.PreordersActivity" />
        <activity android:name=".reference.cloudhosting.CloudHostingMainActivity" />
        <activity android:name=".reference.comments.CommentsActivity" />
        <activity android:name=".reference.giftmanagement.GiftManagementActivity" />
        <activity android:name=".reference.crashservice.CrashServiceMainActivity" />
        <activity android:name=".reference.castengine.CastEngineMainActivity" />
        <activity android:name=".reference.hquic.HQUICActivity" />
        <activity android:name=".reference.dynamictagmanager.DynamicActivity" />
        <activity android:name=".reference.datasecurity.GeneralFeaturesActivity" />
        <activity android:name=".reference.apm.AppPerformanceMainActivity" />
        <activity android:name=".reference.wiseplaydrm.WisePlayDRMMainActivity" />
        <activity android:name=".reference.paidapps.GeneralFeaturesActivity" />
        <activity android:name=".reference.integrationcheck.MainIntegrationCheckActivity" />
        <activity
            android:name=".scankit.GenerateCodeActivity"
            android:label="@string/title_generatecode" />
        <activity android:name=".scankit.CommonActivity" />
        <activity android:name=".scankit.DisplayActivity" />
        <activity android:name=".scankit.DisplayMulActivity" />
        <activity
            android:name=".locationkit.LocationKitActivity"
            android:label="@string/title_locationkit" />
        <activity
            android:name=".locationkit.HdLocationActivity"
            android:label="@string/title_location_hd" />
        <activity
            android:name=".locationkit.GeocoderActivity"
            android:label="@string/title_location_geocoder" />
        <activity
            android:name=".locationkit.ActivityIdentificationActivity"
            android:label="@string/title_location_activity_identification" />
        <activity
            android:name=".locationkit.ActivityConversionActivity"
            android:label="@string/title_location_activity_conversion" />
        <activity
            android:name=".locationkit.GeoFenceActivity"
            android:label="@string/title_geofence"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".locationkit.GeoFenceCreateActivity"
            android:label="@string/title_geofence_create"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".pushkit.MainActivityPushKit" />
        <activity
            android:name=".pushkit.NotificationTargetActivityPushKit"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hms.explorehms.pushkit.click" /> <!-- Target Activity When Tap Notification -->
                <category android:name="android.intent.category.DEFAULT" /> <!-- Need to select 'Custom action page' name on service -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".locationkit.LocationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hms.explorehms.locationkit.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".locationkit.GeoFenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".locationkit.GeoFenceIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- HMS Message Service -->
        <!-- HMS Message Service -->
        <service
            android:name=".pushkit.service.HuaweiPushServicePushKit"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Applying for Token -->
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="com.huawei.agconnect.applinking.READ_CLIPBOARD_PERMISSION"
            android:value="Available" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hms.explorehms.huawei.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:splitName=""
            tools:replace="authorities, splitName">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                android:value="30.0.2"
                tools:replace="resource,android:value" />
        </provider>
    </application>

</manifest>