<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.genar.hmssandbox.huawei.feature_modem5g_kit">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_modem5g_kit">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".ServiceIntroductionActivity"></activity>
        <activity android:name=".hms5gkit.activitys.base.BaseActivity" />
        <activity android:name=".hms5gkit.activitys.base.PermissionBaseActivity" />
        <activity android:name=".hms5gkit.activitys.impl.HmsKitActivity" />
        <activity android:name=".hms5gkit.activitys.impl.HmsKitBaseActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>